@font-face {
    font-family: 'Tropi Land';
    src: url('TropiLandRegular.woff2') format('woff2'),
        url('TropiLandRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

